
@{
    ViewBag.Title = "PasswordReset";
}

<html>
<head>
    <title> Transparent Password Form </title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="passwordreset-box box">
        <img src="~/Art/avatar.png" class="avatar">
        <h1>Reset Password Here</h1>
        <form>
            <p>Email Address</p>
            <input type="text" name="emailaddress" placeholder="Enter Email Address">
            <input type="submit" value="Request New Password" />
        </form>
    </div>
</body>
</html>