
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>


<html>
<head>
    <title> Transparent Login Form Design </title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="login-box">
    <div class="login-box">
        <img src="~/Art/avatar.png" class="avatar">
        <h1>Register</h1>
        <form>
            <p>First Name</p>
            <input type="text" name="firstname" placeholder="First Name">
            <p>Last Name</p>
            <input type="text" name="lastname" placeholder="Last Name">
            <p>Email Address</p>
            <input type="text" name="emailaddress" placeholder="Enter Email Address">
            <p>Set Password</p>
            <input type="password" name="firstpassword" placeholder="Enter Password">
            <p>Retype Password</p>
            <input type="password" name="secondpassword" placeholder="Enter Password">
            <input type="submit" name="Register" value="Register">
        </form>
    </div>
</body>
</html>