@model Management.App.Models.RegisterUser
@{
    ViewBag.Title = "Register"; 
}

<h2>Register</h2>

<html>
<head>
    <title> Transparent Registration Form </title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="registration-box box">
        <img src="~/Art/avatar.png" class="avatar">
        <h1>Register</h1>
        <form>
            <p>First Name</p>
            <!-- @Html.TextBoxFor(m => m.FirstName) This replaces the below input later?-->
            <input type="text" name="firstname" placeholder="First Name">
            <p>Last Name</p>
            <input type="text" name="lastname" placeholder="Last Name">
            <p>Email Address <font color="red">*</font> </p>
            <input type="text" name="emailaddress" placeholder="Enter Email Address">
            <p>Set Password <font color="red">*</font> </p>
            <input type="password" name="firstpassword" placeholder="Enter Password">
            <p>Retype Password <font color="red">*</font> </p>
            <input type="password" name="secondpassword" placeholder="Confirm Password">
            <input type="submit" name="register" value="Register">
        </form>
    </div>
</body>
</html>